{
    "extends": [
      "eslint:recommended",
      "plugin:jsdoc/recommended"
    ],
    "rules": {
      "jsdoc/require-returns-description": 0,
      "jsdoc/require-param-description": 0,
      "jsdoc/require-jsdoc": 0
    },
    "env": {
      "node": true,
      "es6": true,
      "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "plugins": [
      "jsdoc"
    ]
}
